<extend name="Common/base" />
<block name="header">
	<link href="__PUBLIC__/Home/css/jquery.jscrollpane.css" rel="stylesheet" /> 
</block>
<block name="content">

<div class="container"> 
  <div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb custom-breadcrumb custom-breadcrumb-course">
      <li>
        <a href="#">主页</a> <span class="divider"></span>
      </li>
      <li class="active">
        课程列表
      </li>
    </ul>
  </div>
</div>
</div>

<div class="container">
  <h6 class="course-name">Property 动画入门到精通</h6>

        <div class="row">
        <div class="col-md-8 col-lg-8">
        <!-- poster="img/poster.jpg" -->
          <video id="course-player"  controls="controls" class="video-js" data-setup="{}">
            <source src="http://ocsource.maiziedu.com/3dtfyx1.mp4" type="video/mp4">
          </video>
        </div> <!-- /video -->
        <div class="col-md-4 col-lg-4">
          <div class="course-detail-list">
            <div class="list-title">
            <span>课程列表</span><div class="fui-list"></div>
            </div>
            <div class="li-back scroll-pane">
            <ul>
              <li class="course-li">
                <span class="list-icon fui-video"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-video"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>

              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>

              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>

              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>

              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
              <li class="course-li active">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>              
              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>

              <li class="course-li">
                <span class="list-icon fui-lock"></span>
                <a>1.互联网思维1223互联网思维1223</a>
              </li>
            </ul>
          </div>
          </div><!-- /.todo -->
        </div><!-- /.col-xs-4 -->
      </div>
</div>

<div class="container comment">
  <div class="row clearfix">
    <div class="col-md-8 column">

        <div class="tabbable">
          <ul class="nav nav-tabs modal-header modal-nav-tabs course-detail-tab">
            <li class="course-tab active">
              <a href="#comment-list" data-toggle="tab">评论列表</a>
            </li>
            <li class="course-tab">
              <a href="#down-list" data-toggle="tab">课件下载</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="comment-list">

              <div class="media" id="commentbox">
                  <a class="pull-left" href="javascript:void(0);">
                    <img class="media-object" src="__PUBLIC__/Home/img/user/default_small.png">
                  </a>
                  <div class="media-body">
                    <div class="comment-input">
                      <textarea class="form-control" rows="3" placeholder="我要评论" disabled="disabled"></textarea>
                      <div class="not-logged">
                        <p>请先<a href="#" data-toggle="modal" data-target="#loginModal">登录</a>或<a href="" data-toggle="modal" data-target="#registerModal">注册</a></p>
                      </div>
                      <div class="btnbox">
                        <button type="button" class="btn" disabled="disabled">发布评论</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="none_list">
                  <p class="text-center no-message" id="load_message">暂无任何评论！</p>
                </div>

                <div class="media">
                 <a href="#" class="pull-left">
                  <img class="media-object" src="__PUBLIC__/Home/img/user/default_small.png" />
                 </a>
                <div class="media-body">
                  <span class="nickname">kerrry.gao</span>
                  <span class="release">12天前</span> 
                  <div class="comment-body">
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
                  <div class="media">
                     <a href="#" class="pull-left">
                        <img class="media-object" src="__PUBLIC__/Home/img/user/default_small.png" />
                     </a>
                    <div class="media-body">
                      <span class="nickname">周老师</span>
                      <span class="release">1天前</span> 
                    <div class="comment-body">
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane" id="down-list">

                <div class="none_list">
                  <p class="text-center no-message" id="load_message">暂无任何资料课件！</p>
                </div>
                <ul>
                    <li><span class="doctype"></span><div class="down-list-title">xxxxxxxxxxxxx</div><button class="btn btn-primary pull-right btn-down">下载</button></li>
                    <li><span class="doctype"></span><div class="down-list-title">xxxxxxxxxxxxx</div><button class="btn btn-primary pull-right btn-down">下载</button></li>
                    <li><span class="doctype"></span><div class="down-list-title">xxxxxxxxxxxxx</div><button class="btn btn-primary pull-right btn-down">下载</button></li>
                </ul>
            </div>
          </div>
      </div>


    </div>
    <div class="col-md-4 column">
        <div class="sidebox mooc-teacher">
          <div class="sidebox-header mooc-header">
              <h4 class="sidebox-title">课程教师</h4>
          </div>
          <div class="sidebox-body mooc-content">
              <a target="_blank" href="/user/19915">
                  <img src="https://dn-simplecloud.qbox.me/gravatar49.jpg?imageView2/1/w/100/h/100">
              </a>
              <div class="mooc-info">
                  <div class="name"><strong>流觞曲水</strong> </div>
                  
                  <div class="courses">5年以上前端工程经验，4年以上PHP开发经验，3年以上大型互联网公司开发经验。对前端项目架构、性能、测试、质量、自动化等方面有深入理解和大量实践。 </div>
              </div>
          </div>
          <div class="sidebox-footer mooc-footer">
              <a target="_blank" href="/teacher/19915">查看ta的课程 &gt;</a>
          </div>
      </div>
    </div>

  </div>
</div>
</block>
<block name="script">
	<script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
	<script src="__PUBLIC__/Home/js/vendor/video.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.jscrollpane.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.mousewheel.js"></script>
	<script>
		$(function(){
			//视频页面js
			videojs.options.flash.swf = "__PUBLIC__/Home/img/video-js.swf"
			var player = videojs("course-player");
			var video_current_time = $.cookie('lesson_9413');
			if (!video_current_time){
			video_current_time = 0;
			}
			getPlayPostion();
			function getPlayPostion() {
				//将当前播放实际进度保存到cookie
				current_position = Math.ceil(player.currentTime());
				if (current_position) {
				    $.cookie('lesson_9413', current_position, {expires: 7});  
				}
				setTimeout(getPlayPostion, 5000)
			}
			player.ready(function () {
			  player.currentTime(video_current_time);
			});

			var pane = $('.li-back').jScrollPane({autoReinitialise:true});
			var api = pane.data('jsp');
			api.scrollToElement('.course-detail-list .active', true);
		})

	</script>
</block>