<extend name="Common/base" />
<block name="content">
<div class="container"> 
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb custom-breadcrumb">
        <li>
          <a href="#">主页</a> <span class="divider"></span>
        </li>
        <li class="active">
          课程列表
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <ul class="category-select">
    <li class="select-list">
      <dl id="select1">
        <dt>上装：</dt>
        <dd class="select-all"><a href="#">全部</a></dd>
        <dd class=""><a href="#">针织衫</a></dd>
        <dd class=""><a href="#">毛呢外套</a></dd>
        <dd><a href="#">T恤</a></dd>
        <dd class=""><a href="#">羽绒服</a></dd>
        <dd class=""><a href="#">棉衣</a></dd>
        <dd class="selected"><a href="#">卫衣</a></dd>
        <dd><a href="#">风衣</a></dd>
      </dl>
    </li>
    <li class="select-list">
      <dl id="select2">
        <dt>裤装：</dt>
        <dd class="select-all"><a href="#">全部</a></dd>
        <dd class="selected"><a href="#">牛仔裤</a></dd>
        <dd class=""><a href="#">小脚/铅笔裤</a></dd>
        <dd class=""><a href="#">休闲裤</a></dd>
        <dd class=""><a href="#">打底裤</a></dd>
        <dd><a href="#">哈伦裤</a></dd>
      </dl>
    </li>
    <li class="select-list">
      <dl id="select3">
        <dt>裙装：</dt>
        <dd class="select-all"><a href="#">全部</a></dd>
        <dd class=""><a href="#">连衣裙</a></dd>
        <dd class=""><a href="#">半身裙</a></dd>
        <dd class=""><a href="#">长袖连衣裙</a></dd>
        <dd class="selected"><a href="#">中长款连衣裙</a></dd>
      </dl>
    </li>
    <li class="select-result">
      <dl>
        <dt>已选条件：</dt>
        <dd style="display: none;" class="select-no">暂时没有选择过滤条件</dd>
      <dd id="selectA" class="selected"><a href="#">卫衣</a></dd><dd id="selectB" class="selected"><a href="#">牛仔裤</a></dd><dd id="selectC" class="selected"><a href="#">中长款连衣裙</a></dd></dl>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list"> 
        <div class="thumbnail course-thumbnail"> 
         <div class="course-img-div"> 
          <img alt="300x200" src="__PUBLIC__/Home/img/course.jpg" /> 
          <div class="mask"> 
           <i class="start-study-btn"></i> 
          </div> 
         </div> 
         <div class="caption"> 
          <p><span class="btn btn-danger btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small class="price-free">&yen;12.8</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list "> 
        <div class="thumbnail course-thumbnail"> 
         <img alt="300x200" src="__PUBLIC__/Home/img/course1.jpg" /> 
         <div class="caption"> 
          <p><span class="btn btn-warning btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small>免费</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list "> 
        <div class="thumbnail course-thumbnail"> 
         <img alt="300x200" src="__PUBLIC__/Home/img/course1.jpg" /> 
         <div class="caption"> 
          <p><span class="btn btn-danger btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small>免费</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list "> 
        <div class="thumbnail course-thumbnail"> 
         <img alt="300x200" src="__PUBLIC__/Home/img/course.jpg" /> 
         <div class="caption"> 
          <p><span class="btn btn-primary btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small>免费</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list "> 
        <div class="thumbnail course-thumbnail"> 
         <img alt="300x200" src="__PUBLIC__/Home/img/course1.jpg" /> 
         <div class="caption"> 
          <p><span class="btn btn-danger btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small>免费</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list "> 
        <div class="thumbnail course-thumbnail"> 
         <img alt="300x200" src="__PUBLIC__/Home/img/course1.jpg" /> 
         <div class="caption"> 
          <p><span class="btn btn-danger btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small>免费</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 course-list "> 
        <div class="thumbnail course-thumbnail"> 
         <img alt="300x200" src="__PUBLIC__/Home/img/course1.jpg" /> 
         <div class="caption"> 
          <p><span class="btn btn-danger btn-xs category-span">前端开发</span>Python开发工程师</p> 
          <div class="metas"> 
           <span>8410浏览</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>556学员</span>&nbsp;&nbsp;/&nbsp;&nbsp; 
           <span>4.8评分</span> 
          </div> 
          <div class="metas-teacher"> 
           <a href="/u/1276244/" class="js-user-card"> <img class="avatar-ss" src="http://f1.howzhi.com/avatar/2012/06-11/1205299ad8fb483805.jpg" /> </a> 
           <a href="/u/1276244/" class="link-light ">kerrygao</a> 
           <div class="pull-right"> 
            <small>免费</small> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
  </div>
</div>

<div class="container">
  <div class="page">
        <div class="page-box">
            <a class="first" href="/course/teachers/?page=20"></a>
            <a class="previous" href="/course/teachers/?page=20"></a>
            <a href="/course/teachers/?page=1" class="current">1</a> 
            <a href="/course/teachers/?page=2">2</a>
            <a href="/course/teachers/?page=3">3</a>
            <a href="/course/teachers/?page=4">4</a>
            <a href="/course/teachers/?page=5">5</a>
                        <a><span>...</span></a>
            <a href="/course/teachers/?page=20">20</a>
            <a href="/course/teachers/?page=2" class="next"></a>
            <a class="last" href="/course/teachers/?page=20"></a>
        </div>
        <div class="jump-page">
            共<span id="page-pane2">20</span>页，
            第<input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="page" class="zypageTxt">页 
            <input type="button" class="zypageBtn" value="跳转">
        </div>
  </div>
</div>
</block>